


//  Endo of Toggle Button

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .item {
        order: 1;
    }

    .item.button {
        order: 2;
    }

    .toggle {
        order: 3;
        display: none;
    }

    // Toggle Button
    .bars{
        background: black;
        display: inline-block;
        height: 2px;
        position: relative;
        width: 18px;

        &:before {
            background: black;
            content: "";
            height: 2px;
            display: inline-block;
            position: absolute;
            width: 18px;
            top: 5px;
        }

        &:after {
            background: black;
            height: 2px;
            content: "";
            display: inline-block;
            position: absolute;
            width: 18px;
            top: -5px;
        }
    }

}

// Tablets & Smaller
@media (max-width: 800px) {
    .menu{

        .logo{
            flex: 1;
        }

        .item {
            order: 3;
            display: none;
            width: 100%;
            text-align: center;
        }

        .item.button{
            width: auto;
            order: 1;
            display: block;
        }

        .toggle {
            order: 2;
            display: block;
        }

        .item.active{
            display: block;
        }
    }
} 


// Smartphones
@media (max-width: 500px) {
    .menu {

        .item.button {
            width: 100%;
            order: 2;
            display: none;
        }
    
        .item.button.secondary{
            border-bottom: 1px black solid;
        }
        
        .toggle {
            order: 1;
            display: block;
        }

        .item.active{
            display: block;
        }
    }
}

