

// Tablets & Smaller
@media (max-width: 800px) {

    #header {
        .container{
        
            nav{
                
            .hd-menu{  
                    .item {
                        order: 3;
                        display: none;
                        width: 100%;
                        text-align: center;
                        
                    }
        
                    .item.button{
                        width: auto;
                        order: 1;
                        display: block;

                        a{
                            padding: 7px 15px;
                            background: teal;
                            border: 1px solid #006d6d;
                            border-radius: 50em;
                    
                            &:hover {
                            
                                border-radius: 50em;
                                background: #006d6d;
                                border-color: #005959;
                            }
                        }

                    }

                .item.button.secondary a{
                        background: none;
                }
        
                .toggle {
                    order: 2;
                    display: block;
                    
                }

                .item.active{
                    display: block;
                         
                }

            }
        }

        
    }
    }
    
} 

// Smartphones
@media (max-width: 500px) {

    #header {
        .container {
            nav{
                // position: fixed;
                // top: 0;
                // width: 100%;
            .hd-menu {
                .item.button {
                    width: 100%;
                    order: 2;
                    display: none;
                    
                    a{
                        background: none;
                        border: none;

                        &:hover {
                            background: none;
                        }
                    }
                }
            
                .item.button.secondary{
                    border-bottom: 1px $medium-color solid;
                }
                
                .toggle {
                    order: 1;
                    display: block;
                }
        
                .item.active{
                    display: block;
                }
            }
        }
        }
    }

    #footer {
        .container {
            .ft-main {
                .ft-main-item {
                    form {
                        // Reset border radius to default 
                        input[type="email"] { 
                            border-radius: 0;
                        }
                        input[type="submit"] {
                            border-radius: 0;
                        }
                    }
                }
    
                
            }
        }
        
    }
    
}

